$break-800: 800px;
$break-500: 500px;
$break-411: 411px;

form {
    @media screen and (max-width: $break-411) {
        width: 95%;
    }
}

.dayWrapper {
    @media screen and (max-width: $break-500) {
        margin: 0%;
        width: 14%;
    }
}

.timePickerContainer {
  @media screen and (max-width: $break-800) {
    width: 95%;
  }
}

label {
    @media screen and (max-width: $break-500) {
        font-size: 10px;
    }
}

.timeBlock {
    @media screen and (max-width: $break-800) {
        width: 100%;
    }
    @media screen and (max-width: $break-500) {
        width: 80%;
        font-size: 12px;
        height: auto;
    }
    @media screen and (max-width: $break-411) {
        padding: 1px;
    }
}