$break-1500: 1500px;
$break-1000: 1000px;
$break-800: 800px;
$break-500: 500px;
$break-mobile: 411px;

.welcome {
  display: flex;
  justify-content: center;
  background-color: lightgray;
  height: 100vh;
  position: relative;
  @media screen and (max-width: $break-mobile) {
    margin: 0 auto 0 -70%;
  }
}

.landingImage {
  position: absolute;
  right: 0px;
  bottom: 0px;
  height: 100%;
  z-index: 0;
  @media screen and (max-width: $break-mobile) {
    // position: relative;
    margin: 0 0 0 85%;
    height: 50%;
  }
}

.title {
  font-size: 2em;
  position: absolute;
  width: 80%;
  z-index: 400;
  margin: 15% 55% 0 0;
  display: flex;
  justify-content: start;
  @media screen and (max-width: $break-1500) {
    font-size: 1.5em;
    margin: 15% 40% 0 2%;
  }
  @media screen and (max-width: $break-1000) {
    font-size: 1.25em;
    display: flex;
    justify-content: space-evenly;
  }
  @media screen and (max-width: $break-800) {
    margin: 10% 0 0 0;
  }
  @media screen and (max-width: $break-mobile) {
    margin: 5% 0 0 20%;
  }
}

.startBtn {
  padding: 0 50px 0 50px;
  border: 4px solid #002147;
  border-radius: 10px;
  background-color: transparent;
  transition: background-color 300ms ease;
  font-family: "Open-Sans", sans-serif;
  color: #002147;
  font-size: 38px;
  font-weight: 700;
  padding: 9px 15px;
  width: 550px;
  z-index: 401;
  margin: 25% 36% 0 0;
  @media screen and (max-width: $break-1000) {
    margin: 24% 0 0 5%;
  }
  @media screen and (max-width: $break-800) {
    margin: 24% 0 0 1%;
  }
  @media screen and (max-width: $break-500) {
    margin: 35% 0 0 0;
    width: 95%;
  }
  @media screen and (max-width: $break-mobile) {
    margin: 25% 0 0 42%;
    width: 50%;
  }
}
